server {
    listen 80;
    listen [::]:80;

    server_name ecosolbrasilenergia.com.br www.ecosolbrasilenergia.com.br;

    access_log /var/log/nginx/ecosolbrasil_access.log;
    error_log /var/log/nginx/ecosolbrasil_error.log;

    root /var/www/html/ecosolbrasil;
    index index.html;

    location / {
        try_files $uri $uri/ /index.html;
    }
}
